.username {
}
.tag {
}
.location {
}
.avatar {
  border-radius: 50%;
  overflow: hidden;
}
.stats_list,
.stats_list_item {
  display: flex;
}
.stats_list_item {
  flex-direction: column;
}
.stats_list_item_title {
}
.stats_list_item_value {
}
