.task_wrapper {
  margin: 15px auto;
}
.task_wrapper:not(:last-child):after {
  display: block;
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: rgb(196, 196, 223);
}
.task_title {
  text-align: center;
}
