.stats_item {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.stats_title,
.stats_value {
  margin: 0;
}
.stats_title {
  font-style: italic;
  font-weight: 500;
}
.stats_value {
  font-weight: bold;
}
