.statistics {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}
.title {
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
}
.stat_list {
  display: flex;
  text-align: center;
  column-gap: 5px;
  list-style-type: none;
  padding: 0;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
}
.label {
  font-style: italic;
  font-weight: 500;
}
.percentage {
  font-weight: bold;
  text-transform: uppercase;
}
